<section class="tour section-wrapper container" style="color:black;">
    <div class="col-xs-12 col-md-8 " style="align:center;">

        <div class="product-right-grids" ng-repeat="heb in hebergement " style="background-color: white;color: black;">
            <div class="product-right-top">
                <div class="p-left">
                    <div class="p-right-img p-right-img2" style="background: url({{heb.image}}) no-repeat 0px 0px;">
                        <a href="{{heb.lien}}"> </a>
                    </div>
                </div>
                <div class="p-right">
                    <div class="col-md-6 p-right-left">
                        <a href="{{heb.lien}}">{{heb.nom}}</a>
                        <p>{{heb.location}}</p>
                        <p>{{heb.description}}</p>
                    </div>
                    <div class="col-md-6 p-right-right">
                        <h6>Rating : {{heb.rating}}</h6>
                        <div class="clearfix"> </div>
                        <span class="p-offer">{{heb.prix}}</span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    <!--<div class="panel panel-default " ng-repeat="vol in hebergement">

        <div class="panel-body">


                                    <section class="list-left text-center">
                                    <h4  class="title">{{ vol.nom}}  </h4>
                                        <h5>{{ vol.location}}</h5>
                                    <p class="catpath">vol numéro : {{ vol.allee.numvol }}</p>
                                        <h5>{{ vol.allee.companie}}</h5>

                                    </section>
                                  <hr>

                                <section class="list-left text-center">
                                    <h4  class="title">{{ vol.retour.aeroport_depart}}  {{ vol.retour.aeroport_arrivee}} </h4>
                                    <h5>{{ vol.retour.dureevol}}</h5>
                                    <p class="catpath">vol numéro : {{ vol.retour.numvol }}</p>
                                    <h5>{{ vol.retour.companie}}</h5>

                                </section>

                                         <div class="panel-footer">
                                                <h3 class="text-left ">PRIX : {{vol.prix}}</h3>
                                        <div class="text-right">
                                            <a  href = "{{vol.lien}}" class="btn btn-default">Réserver</a>
                                        </div>
                                        </div>
                                    <div class="clearfix"></div>


        </div>


    </div>
    </div> -->

<style type="text/css">
    .product-right-grids{
        border: solid 1px #F3F3F3;
        margin-bottom: 2em;
        margin-left: 2em;
        background-color: whitesmoke;
    }
    .p-day{
        margin:2em 0;
    }
    .hotel-price span.p-day-grid{
        color: #777;
        font-size: 1em;
        font-weight: 400;
    }
    .p-left{
        float:left;
        width:30%;
    }
    .p-right{
        float: left;
        width: 70%;
        padding: 1em 0;
    }
    .p-right-img a{
        min-height: 150px;
        background-size: 150px 150px;
        display: block;
    }

    .p-right-left a{
        color: #337ab7;
        font-size: 1em;
        font-weight: 600;
        margin: 0;
        text-decoration: none;
        text-transform: capitalize;
    }
    .p-right-left p{
        color: #777;
        font-size: .9em;
        margin: .5em 0 0 0;
        line-height: 1.8em;
    }
    .p-right-left p.p-call{
        font-size: 1.2em;
        font-weight: 600;
        color: #000;
        margin: 0;
    }
    .p-right-right{
        text-align:right;
    }
    .p-right-right h6{
        color: #6fd508;
        font-weight: 600;
        font-size: 1.2em;
        margin: 0;
    }
    .p-right-right p{
        color: #777;
        font-size: .9em;
        margin: .5em 0 0 0;
        line-height: 1.8em;
    }
    .p-right-right span.p-offer{
        color: #000;
        font-size: 2.3em;
    }
    .p-right-right span.p-last-price{
        text-decoration: line-through;
        color: #777;
        font-size: 1.4em;
        display: block;
    }
</style>

-->
</section>